<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InicioAdministrador</title>
    <link rel="stylesheet" href="../static/styles/estilo_inicioA.css">
</head>
<body>
<section class="InicioA">
    <h5> Bienvenido Administrador </h5>
          <div style="text-align: center">
            <a class="BtnTablaEnterprice"
               href="http://localhost:63342/interfacesSOA/tablaEnterprice.html">
                Tabla Enterprice
            </a>

            <a class="BtnTablaProfile"
               href="http://localhost:63342/interfacesSOA/tablaProfile.html">
                Tabla Profile
            </a>
          </div>
    <div  >
        <a class="BtnTablaTransaction"
           href="http://localhost:63342/interfacesSOA/tablaTransaction.html">
            Tabla Transaction
        </a>

        <a class="BtnTablaEmployee"
           href="http://localhost:63342/interfacesSOA/tablaEmployee.html">
            Tabla Employee
        </a>

    </div>


</section>
</body>
</html>