<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabla Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DWAWU</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="inicio_admin.html">Regresar</a>
                    <a class="nav-link active" aria-current="page" href="index.html">Salir</a>

                </div>
            </div>
        </div>
    </nav>
</header>
<h1 class="titulo_profile" align="center">Tabla perfil</h1>
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Digita los datos
                </div>
                <div class="card-body" >
                    <form>
                        <div class="mb-3" >
                            <label for="id_profile" class="form-label">ID</label>
                            <input type="number" class="form-control" id="id_profile" required>

                            <label for="phone" class="form-label">Teléfono</label>
                            <input type="number" class="form-control" id="phone" required>



                        </div>

                        <button type="submit" class="btn btn-primary" style="text-align: center; background: #2ECC71">Agregar</button>
                        <button type="reset" class="btn btn-primary" style="text-align: center; background: #C0392B">Borrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Usuario</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td id="id_profile_td"> </td>
        <td id="phone_td"> </td>
        <td id="usersP_td"> </td>

    </tr>
    </tbody>
</table>

</body>
</html>