<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabla Transaction</title>
    <link rel="stylesheet" href="../static/styles/estilo_tablaTransaction.css">
</head>
<body>
<h1 class="titulo_transaction" align="center">Digitar tabla Transaction</h1>
<br />
<div class="imagen">

    <img class="imagen_empresa" src="../static/images/dwawu.png" alt=""/>
</div>

<form action="" method="get">
    ID:&nbsp;
    <input type="number" name="id" id="id"
           size="20" maxlength="50" />
    <br />
    <br />
    <br />
    Concepto:&nbsp;
    <input type="text" name="concept" id="concept"
           size="20" maxlength="90" />
    <br />
    <br />
    <br />
    Monto de la trasnsacción:&nbsp;
    <input type="number" name="amount" id="amount"
           size="20" maxlength="20" />
    <br />
    <br />
    <br />
    Usuario:&nbsp;
    <input type="text" name="user" id="user"
           size="20" maxlength="50" />
    <br />
    <br />
    <br />
    Empresa:&nbsp;
    <input type="text" name="adress" id="adress"
           size="20" maxlength="50" />
    <br />
    <br />
    <br />
    Fecha:&nbsp;
    <input type="text" name="users" id="users"
           size="20" maxlength="50" />
    <br />
    <br />
    <br />

    <input type="submit" id="botonAceptar" name="botonAceptar"
           value="Aceptar" />
    &nbsp;&nbsp;
    <input type="reset" id="botonBorrar" value="Borrar" />

</form>

</body>
</html>