<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabla Employee</title>
    <link rel="stylesheet" href="../static/styles/estilo_tablaEmployee.css">
</head>
<body>
<h1 class="titulo_employee" align="center">Digitar tabla Employee</h1>
<br />
<div class="imagen">

    <img class="imagen_empresa" src="../static/images/dwawu.png" alt=""/>
</div>

<form action="" method="get">
    ID:&nbsp;
    <input type="number" name="id" id="id"
           size="20" maxlength="50" />
    <br />
    <br />
    <br />
    Email:&nbsp;
    <input type="email" name="email" id="email"
           size="20" maxlength="50" />
    <br />
    <br />
    <br />
    Perfil:&nbsp;
    <input type="text" name="perfil" id="perfil"
           size="20" maxlength="50" />
    <br />
    <br />
    <br />
    Rol:&nbsp;
    <input type="text" name="rol" id="rol"
           size="20" maxlength="50" />
    <br />
    <br />
    <br />
    Empresa:&nbsp;
    <input type="text" name="enterprise" id="enterprise"
           size="20" maxlength="50" />
    <br />
    <br />
    <br />
    Transacción:&nbsp;
    <input type="text" name="transaction" id="transaction"
           size="20" maxlength="50" />
    <br />
    <br />
    <br />
    fecha:&nbsp;
    <input type="datetime-local" name="createdAt" id="createdAt"
           size="20" maxlength="50" />
    <br />
    <br />
    <br />
    <input type="submit" id="botonAceptar" name="botonAceptar"
           value="Aceptar" />
    &nbsp;&nbsp;
    <input type="reset" id="botonBorrar" value="Borrar" />

</form>

</body>
</html>