.titulo{

    font-family: "Arial Black";
    font-size: 90px;
    color: #11115e;

}




aside{

    width: 20%;
    height:320px;
    float:right;
    background-color: #fffbd1;
    color: black;
    margin-left: 70px;
    padding: 10px;
    margin-right: 25px;
    border: 5px ridge #f6b80d;


}

.imagen_dwawu{
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: center;
    float: right;
}

.botonesIniciales{


}
.botonRegistrar{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: #fffbd1;
    color: #11115e;
    padding: 25px 45px;
    display: inline-block;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 90px;
    border: 5px ridge #f6b80d;
}
.botonRegistrar:hover{
    background-color: #baa076;
}
.botonLogin{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: #fffbd1;
    color: #11115e;
    padding: 25px 45px;
    display: inline-block;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 90px;
    border: 5px ridge #f6b80d;
}
.botonLogin:hover{
    background-color: #baa076;
}
.botonGithub{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: #fffbd1;
    color: black;
    text-decoration: none;
    margin-top: 550px;
    margin-left: 120px;

}